<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
@*            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">會員管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">會員資料</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">報價管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">交易紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">客服紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">拜訪紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">評分管理</span>
                        </a>
                    </li>
                </ul>
            </li>*@

@*            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="icon-briefcase"></i>
                    <span class="title">業務管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">專案管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">工作管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">獎金管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">KPI管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">統計報表</span>
                        </a>
                    </li>
                </ul>
            </li>*@

@*            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="icon-layers"></i>
                    <span class="title">合約管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">版本管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">內容管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">設施管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">附約管理</span>
                        </a>
                    </li>
                </ul>
            </li>*@

@*            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="icon-volume-2"></i>
                    <span class="title">行銷管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">活報報名</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">活動報到</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">活動記錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">問卷管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">問卷分析</span>
                        </a>
                    </li>
                </ul>
            </li>*@

@*            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="far fa-building"></i>
                    <span class="title">物件管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">物件資料建立</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">物件查詢</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">物件分析</span>
                        </a>
                    </li>
                </ul>
            </li>*@

            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="icon-wrench"></i>
                    <span class="title">修繕管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="/EqRepair" class="nav-link ">
                            <span class="title">修繕通報</span>
                        </a>
                    </li>
@*                    <li class="nav-item">
                        <a href="#" class="nav-link ">
                            <span class="title">修繕分析</span>
                        </a>
                    </li>*@
                </ul>
            </li>

            <li class="nav-item letter">
                <a href="#" class="nav-link nav-toggle">
                    <i class="fa-building"></i>
                    <span class="title">客訴管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="/Complaint" class="nav-link ">
                            <span class="title">客訴單填寫</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>